# RFM analysis

In [2]:
from datetime import datetime
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
import warnings 
warnings.filterwarnings('ignore')

In [3]:
df = pd.read_csv('../data/rfm_data.csv', encoding='Latin-1')

In [4]:
df.head()

,CustomerID,PurchaseDate,TransactionAmount,ProductInformation,OrderID,Location
0,8814,2023-04-11,943.31,Product C,890075,Tokyo
1,2188,2023-04-11,463.70,Product A,176819,London
2,4608,2023-04-11,80.28,Product A,340062,New York
3,2559,2023-04-11,221.29,Product A,239145,London
4,9482,2023-04-11,739.56,Product A,194545,Paris

In [5]:
df.dtypes

CustomerID              int64
PurchaseDate           object
TransactionAmount     float64
ProductInformation     object
OrderID                 int64
Location               object
dtype: object

In [8]:
# Prepare variables for RFM analysis
df['PurchaseDate'] = pd.to_datetime(df['PurchaseDate'])
reference_date = df['PurchaseDate'].max() + pd.Timedelta(days=1)

# Customer ID as string
df['CustomerID'] = df['CustomerID'].astype(str)

# Revenue variable
df['Revenue'] = df['TransactionAmount']

In [9]:
df.head()

,CustomerID,PurchaseDate,TransactionAmount,ProductInformation,OrderID,Location,Revenue
0,8814,2023-04-11,943.31,Product C,890075,Tokyo,943.31
1,2188,2023-04-11,463.70,Product A,176819,London,463.70
2,4608,2023-04-11,80.28,Product A,340062,New York,80.28
3,2559,2023-04-11,221.29,Product A,239145,London,221.29
4,9482,2023-04-11,739.56,Product A,194545,Paris,739.56

In [12]:
# Calculate RFM metrics
rfm_df = df.groupby('CustomerID').agg({
    'PurchaseDate': lambda v: (reference_date - v.max()).days,  # Recency
    'OrderID': 'count',  # Frequency
    'Revenue': 'sum'  # Monetary
})

In [14]:
rfm_df.rename(columns={
    'PurchaseDate': 'Recency',
    'OrderID': 'Frequency',
    'Revenue': 'Monetary'
})

            Recency  Frequency  Monetary
CustomerID
1011             34          2   1129.02
1025             22          1    359.29
1029              1          1    704.99
1046             44          1    859.82
1049             14          1    225.72
...             ...        ...       ...
9941             43          1    960.53
9950             39          1    679.11
9954             13          1    798.01
9985             58          1     36.10
9991             31          1    626.81

[946 rows x 3 columns]